header {
  border-bottom: 0.5px solid gray;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 2;
  padding: 15px;
  animation: 1s ease-out 0s 1 slideInFromTop;
  width: 100%;
  .mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    .btn-container {
      width: 100%;
      border-bottom: 0.5px solid gray;
      padding: 6px;
      margin-bottom: 60px;
    }
    .mobile-menu-content {
      gap: 50px;
      a {
        font-size: 1.2rem;
      }
      .menu-line {
        width: 196px;
        height: 2px;
        border-bottom: solid 0.2px black;
      }
    }
  }
  .open-menu {
    width: 100%;
  }
  .hamburger-wrapper {
    width: 100%;
    .hamburger-container {
      display: none;
      @include for-mobile-layout {
        display: block;
      }
    }
  }
  nav {
    max-width: 1250px;
    width: 100%;
    .logo-container {
      .logo {
        @include for-mobile-layout {
          margin-right: 45px;
        }
        margin-right: 15px;
        max-width: 35px;
        max-height: 35px;
      }
    }
  }
  .links {
    @include for-mobile-layout {
      display: none;
    }
    margin-inline-start: 10px;
    gap: 30px;
    display: flex;
    align-items: center;
    padding: 4px 0;
    a {
      font-size: 1.3rem;
    }
    .home-link {
      letter-spacing: 1.3px;
      font-size: 1.8rem;
    }
  }
  // Input in header
  .search-container {
    gap: 25px;
    // width: 415px;
    // max-width: 415px;
    // width: 100%;
  }
  .active {
    border-bottom: 1px solid $pumpkin;
  }
  
}
