@font-face {
  font-family: HelveticaNeue; 
  src: url(../../assets/fonts/Pragmatica-ExtraLight.ttf);
}

@font-face {
  font-family: HelveticaNeue-Thin;
  src: url(../../assets/fonts/HelveticaNeueUltraLight.ttf);
}
