// COLOR PALLETE
$white: #ffffff;
$black: #000000;
$pumpkin: #de9200;
$beige: #f9f4ea;
$sand-80: #e8c47a;
$light-grey: #fafafa;
$light-tan: #f7e0b2;

// LAYOUT BREAKPOINTS
$break-narrow: 500px;
$break-normal: 640px;
$break-wide: 980px;


